@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* After finishing this assignment, I've learned and understood a lot of new things.
   I'm still not properly able to manage divs yet, this code can be written more efficiently,
   hopefully I'll do better on the next assignment. It's really fun learning with Programming-Hero.
   I've learned a lot within these 10 days. Thanks to Jhankar Bhai and the team. May Allah bless you all. */

*{
    margin: 0;
    padding: 0;
    font-family: "Azeret Mono", monospace;
}

/* header-top */

.header-top{
    width: 1440px;
    margin: 40px auto;
    display: flex;
    gap: 400px;
    justify-content: space-around;
    align-items: center;
}

.header-top>h3{
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
}

.header-top>a>button{
    padding: 17px 24px;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
}

/* hero-styles */

.hero-bg{
    width: 1440px;
    height: 652px;
    margin: 0 auto;
    padding: 60px;
    background-image: url('assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-contents{
    width: 998px;
    height: 582px;
    margin: 0 auto;
    text-align: center;
}

.hero-contents>img{
    width: 240.28px;
    height: 240px;
    margin-bottom: 32px;
}

.hero-contents>h1{
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 24px;
}

.hero-contents>p{
    color: rgba(13, 19, 33, 0.7);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
}

.hero-contents>a>button{
    border: none;
    border-radius: 8px;
    background-color: rgb(13, 19, 33);
    padding: 21px 24px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
}

/* web-dev-section-styles */

.web-dev-section{
    width: 1140px;
    height: 1440px;
    margin: 0 auto;
    border-radius: 16px;
    background-color: rgba(13, 19, 33, 0.02);
}

/* web-dev-title-styles */

.web-dev-title{
    width: 852px;
    margin: 80px auto;
    padding-top: 70px;
    text-align: center;
}

.web-dev-title>h1{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}

.web-dev-title>p{
    color: rgba(13, 19, 33, 0.7);
    font-size: 16px;
    font-weight: 400;
}

/* web-dev-contents-styles  */

.web-dev-contents{
    width: 946px;
    height: 1072px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 32px;
}

.web-dev-content1, .web-dev-content2, .web-dev-content3 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 35px;
}

.web-dev-content1{
    padding: 48px;
    background-image: linear-gradient(to right,#FFFFFFFF,#FFFFFF00);
    border-radius: 16px;
}

.web-dev-content2{
    padding: 48px;
    background-image: linear-gradient(to left,#FFFFFFFF,#FFFFFF00);
    border-radius: 16px;
}

.web-dev-content3{
    padding: 48px;
    background-image: linear-gradient(to right,#FFFFFFFF,#FFFFFF00);
    border-radius: 16px;
}

.web-dev-content-texts{
    Width: 400px;
    Height: 220px;
}

.web-dev-content-texts>h3{
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}

.web-dev-content-texts>p{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.web-dev-content-texts>a>button{
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(13, 19, 33);
    padding: 12px 20px;
}

/* my-inspiration-section-styles */

.my-inspiration-section{
    width: 1140px;
    height: 777px;
    margin: 80px auto;
}

.my-inspiration-title{
    text-align: center;
}

.my-inspiration-title>h1{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}

.my-inspiration-title>p{
    color: rgba(13, 19, 33, 0.7);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 48px;
}

.my-inspiration-content{
    width: 1140px;
    height: 614px;
    border: 1px	solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}

.my-inspiration-content>iframe{
    margin: 32px;
    border-radius: 16px;
}

/* current-target-section-styles */

.current-target-section{
    width: 1140px;
    height: 465px;
    margin: 0px auto;
}

.current-target-title{
    text-align: center;
}

.current-target-title>h1{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}

.current-target-title>p{
    color: rgba(13, 19, 33, 0.7);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 48px;
}

/* current-target-contents-styles */

.current-target-contents{
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.current-target-content1{
    background-color: rgba(255, 76, 30, 0.05);
    border-radius: 16px;
    padding: 40px;
}

.current-target-content2{
    background-color: rgba(0, 76, 232, 0.05);
    border-radius: 16px;
    padding: 40px;
}

.current-target-content3{
    background-color: rgba(255, 223, 0, 0.05);
    border-radius: 16px;
    padding: 40px;
}

.current-target-content1>h1, .current-target-content2>h1, .current-target-content3>h1{
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    margin-top: 24px;
    margin-bottom: 8px;
}

.current-target-content1>p, .current-target-content2>p, .current-target-content3>p{
    color: rgba(13, 19, 33, 0.7);
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
    margin-bottom: 24px;
}

.current-target-content1>a, .current-target-content2>a, .current-target-content3>a{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
}

/* next-target-section-styles */

.next-target-section{
    width: 1140px;
    height: 868px;
    margin: 120px auto;
    margin-bottom: 0px;
}

.next-target-title{
    text-align: center;
}

.next-target-title>h1{
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 24px;
}

.next-target-title>p{
    color: rgba(13, 19, 33, 0.7);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 48px;
}

/* next-target-contents-styles */

.next-target-contents{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.next-target-content1, .next-target-content2, .next-target-content3{
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    padding: 40px;
    display: flex;
    align-items: center;
    gap: 24px;
}

.next-target-content-texts>h1{
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 8px;
}

.next-target-content-texts>p{
    color: rgba(13, 19, 33, 0.7);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
}

.next-target-content-texts>a{
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
}

/* support-section-styles */

.support-section{
    width: 1140px;
    height: 314px;
    border-radius: 16px;
    margin: 80px auto;
    margin-top: 0px;
    background-color: rgba(7, 2, 17, 0.5);
    background-blend-mode: overlay;
    background-image: url('assets/handshake.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.support-text>h1{
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 16px;
}

.support-text>p{
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 24px;
}

.support-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.support-content>textarea{
    width: 548px;
    background-color: rgb(255, 255, 255)    ;
    border: none;
    border-radius: 8px;
    resize: none;
    padding: 14px;  
}

textarea::placeholder{
    color: rgba(13, 19, 33, 0.4);
    font-size: 16px;
    font-weight: 400;
}

.support-content>input{
    width: 120px;
    height: 58px;
    border: none;
    border-radius: 8px;
    padding: 17px 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
}

/* footer-styles */

.footer-bg{
    width: 1440px;
    height: 100px;
    margin: 0 auto;
    border-radius: 16px;
    background-color: rgba(13, 19, 33, 0.03);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footer-contents{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

/* Dooonne!! XD */